@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&display=swap');

:root{
  --background: #282828;
  --background-secondary: #3c3836;
  --color: #fbf1c7;
  --yellow: #d79921;
  --blue: #458588;
  --red: #cc241d;
  --green: #98971a;

}
html{
  background: var(--background);
  color: var(--color);
  font-family: 'Azeret Mono', monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: var(--background);
  color: var(--color);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

