.Car{
    background-color: var(--background-secondary);
    margin: 1rem;
    padding: 0.5rem;
    height: 5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section{
    width: 80%;
    margin: 0 10rem 0 10rem;
    border: 3px solid var(--red);
    border-radius: 1rem;
}
